clickup-capacity-proxy.workflow.json
{
  "name": "ClickUp Capacity Proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "clickup-capacity",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "clickup-capacity-webhook"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://pdsvsxzjbkcvychbzqit.supabase.co';\nconst SUPABASE_KEY = 'YOUR_SUPABASE_SERVICE_ROLE_KEY';\nconst CLICKUP_KEY  = 'YOUR_NEW_CLICKUP_API_KEY';\n\nconst TARGET_LISTS = [\n  'general tasks', 'project tasks', 'ai project tasks', 'project roadmap'\n];\nconst MAX_PAGES = 20;\n\nlet page = 0;\nlet totalUpserted = 0;\n\nwhile (page < MAX_PAGES) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://api.clickup.com/api/v2/team/9017426462/task',\n    headers: { 'Authorization': CLICKUP_KEY },\n    qs: {\n      page,\n      'space_ids[]': '90172135105',\n      subtasks: false,\n      include_closed: false\n    }\n  });\n\n  const tasks = response.tasks || [];\n  if (tasks.length === 0) break;\n\n  const taskRows = [];\n  const assigneeRows = [];\n\n  for (const task of tasks) {\n    const listName = (task.list?.name || '').toLowerCase().trim();\n    if (!TARGET_LISTS.includes(listName)) continue;\n\n    let priority = null;\n    if (task.priority) {\n      priority = typeof task.priority === 'object'\n        ? (task.priority.priority || '').toLowerCase()\n        : task.priority.toLowerCase();\n    }\n\n    taskRows.push({\n      id: task.id,\n      name: task.name,\n      status: task.status?.status || task.status || 'unknown',\n      priority,\n      list_name: task.list?.name || null,\n      updated_at: new Date().toISOString()\n    });\n\n    for (const a of (task.assignees || [])) {\n      assigneeRows.push({\n        task_id: task.id,\n        member_id: a.id,\n        member_name: a.username || String(a.id)\n      });\n    }\n  }\n\n  if (taskRows.length > 0) {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://pdsvsxzjbkcvychbzqit.supabase.co/rest/v1/clickup_tasks',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'resolution=merge-duplicates'\n      },\n      body: taskRows,\n      json: true\n    });\n  }\n\n  if (assigneeRows.length > 0) {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://pdsvsxzjbkcvychbzqit.supabase.co/rest/v1/clickup_task_assignees',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'resolution=merge-duplicates'\n      },\n      body: assigneeRows,\n      json: true\n    });\n  }\n\n  totalUpserted += taskRows.length;\n  if (tasks.length < 100) break;\n  page++;\n}\n\nreturn [{ json: { totalUpserted } }];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Fetch and Upsert Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdsvsxzjbkcvychbzqit.supabase.co/rest/v1/rpc/get_capacity",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Query Capacity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch and Upsert Pages", "type": "main", "index": 0 }]]
    },
    "Fetch and Upsert Pages": {
      "main": [[{ "node": "Query Capacity", "type": "main", "index": 0 }]]
    },
    "Query Capacity": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
